span, a, h1, h2, h3, h4 , h5, h6,table {
	font-family:  "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}
a:focus{
	outline:0; 
}
body{
	background-color:  #eaedf1;
}

.topbar{
	width: 100%;
	height: 50px;
	/*background-color: #0099cc;*/
	background-color: #4e82bc;
	min-width: 800px;
	position: fixed;
	top:0;
	z-index: 1;
}
.topbar-left{
	float: left;
}
.topbar-left a.topbar-logo{
	display: block;
	background-color: #4276b4;
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	float: left;
}
.topbar a{
	text-decoration: none;
}
.topbar a.topbar-btn{
	line-height: 50px;
	color: #fff;
	display:inline-block;
	padding:0 15px;
	border-left:1px solid #4276b4;
	transition: 0.2s;
}
.topbar a.topbar-btn:hover{
	background-color:#4276b4;
}
.topbar .dropdown-menu{
	margin:0;
	padding:0;
	border:none;
	min-width: 100%;
	z-index: 1;
	font-size: 12px;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.topbar .dropdown-menu li{
    border-bottom: 1px solid #eaedf1;
}
.topbar .dropdown-menu li a{
	height: 40px;
	line-height: 40px;
}
.topbar .dropdown.open .topbar-btn{
	background-color: #fff;
	color: #333;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #eaedf1;
	box-sizing: border-box;
	height: 50px;
}
.topbar .dropdown .icon-caret-down {
    display: inline-block;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.2s, vertical-align 0.2s;
    -o-transition: transform 0.2s, vertical-align 0.2s;
    -ms-transition: transform 0.2s, vertical-align 0.2s;
    -moz-transition: transform 0.2s, vertical-align 0.2s;
    -webkit-transition: transform 0.2s, vertical-align 0.2s;
}

.topbar .dropdown.open .icon-caret-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.topbar-right{
	float: right;
}
.topbar-right span.badge{
	color: #00ace9;
	background-color: #4276b4;
}
.topbar-share{
	position: relative;
}
.topbar-share-panel{
	top: 50px;
	left: -12px;
	position: absolute;
	width: 130px;
	padding: 12px 8px;
	background: #fff;
	border: 1px solid #eaedf1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	display: none;
}
.topbar-share:hover .topbar-share-panel{
	display: block;
}
.topbar-serach{
	position: relative;
}
.topbar-search-panel{
	height: 38px;
	position: absolute;
	top:50px;
	border: 2px solid #4276b4;
	background: #fff;
	margin-left: 100px;
	display: none;
}
.topbar-search-panel a{
	position: absolute;
	right: 0;
	top: 0;
	height: 34px;
	width: 34px;
	display: block;
	line-height: 34px;
	text-align: center;
	color: #546478;
}
.topbar-search-panel input{
	display: block;
	height: 34px;
	padding: 4px 6px;
	margin-right: 30px;
	width: 250px;
	border-width: 0;
	outline: 0;
	line-height: 34px;
	color: #546478;
	font-size: 12px;
}
.topbar-notice-panel{
	position: absolute;
    top: 50px;
    width: 440px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
    box-shadow: 0 1px 2px rgba(0,0,0,0.175);
    display: none;
}
.topbar-notice-arrow{
    background: url(../images/notice-arrow.png) 0 0 no-repeat;
    width: 11px;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 220px;
}
.topbar-notice-head{
	height: 50px;
    background-color: #eaedf1;
    padding: 0 15px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
}
.topbar-notice-body{
	height: 300px;
    overflow-y: auto;
    background: #fff;
    font-size: 12px;
}
.topbar-notice-body span{
	text-align: center;
	margin-top: 80px;
	display: block;
}
.topbar-notice-foot{
	height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
}
/*-----------------------------------------sidebar-------------------------*/
.main-contain{
	margin-top: 65px;
	float: left;
	width: 100%;
	/*background-color:  #eaedf1;*/
}
.sidebar{
    margin-top: 50px;
	position: fixed;
	top:0;
	width: 120px;
}
.sidebar-nav{
	width: 180px;
	height: auto;
	min-height: 800px;
	background-color: #293038;
}
.sidebar a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	display: block;
}
.sidebar-fold{
	height: 30px;
	line-height: 30px;
	background-color: #293038;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
ul.mainmenu li.menu1 span{
	color: #fff;
	display: inline-block;
	transition: transform 0.12s;
    -o-transition: -o-transform 0.12s;
    -ms-transition: -ms-transform 0.12s;
    -moz-transition: -moz-transform 0.12s;
    -webkit-transition: -webkit-transform 0.12s;
}
span.icon{
	padding:0 20px;
	color: #fff;
}
ul.mainmenu li{
	cursor: pointer;
	overflow: hidden;
}
ul.mainmenu li.open{
	background-color: #345382;
}
ul.mainmenu{
	margin-bottom: 0;
}
li.menu1{
    border-bottom:1px solid #414d5c;
	height: 40px;
	line-height: 40px;
	background-color: #37424f;
}
ul.submenu{
	display: none;
}
ul.submenu li{
	height: 40px;
	line-height: 40px;
}

ul.submenu li:hover{
	background-color: #37424f;
}
/*侧边二级菜单的箭头旋转*/
/*ul.mainmenu li.menu1.open span{
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}*/
.sidebar-icon{
	margin-left: 20px;
}
span.icon_nav{
	width: 20px;
	height: 20px;
    float: left;
    margin:10px 10px 10px 15px;
}
.icon_nav1{
	background: url(../images/nav_icon.png) no-repeat ;
}
.icon_nav2{
	background: url(../images/nav_icon.png) no-repeat -25px 0;
}
.icon_nav3{
	background: url(../images/nav_icon.png) no-repeat -78px 0;
}
.icon_nav4{
	background: url(../images/nav_icon.png) no-repeat -48px 0;
}
.icon_nav5{
	background: url(../images/nav_icon.png) no-repeat -100px 0;
}
.icon_nav6{
	background: url(../images/nav_icon.png) no-repeat -120px 0;
}
/*--------------------------------content-----------------------*/
.content{
	margin-left: 180px;
	padding-left: 15px;
}

.sidebar-fix{
     min-height: 500px;
     height: 100%;
     width: 180px;
     float: left;
}

.user-container{
	min-width: 1135px;
}
.user-section-wrap{
	width: 33.3%;
    float: left;
}
.user-section{
	background-color: #fff;
    height: 130px;
    margin-right: 15px;
}
.section-head{
	width: 80px;
	height: 100%;
	float: left;
	height: 140px;
	line-height: 140px;
	padding-left:  10px;
}
.section-content-wrap{
	padding-left: 80px;
	width: 100%;
	height: 100%;
}
.section-content{
	padding: 30px 0px 15px 20px;
    font-size: 12px;
}
.section-content .user-name span{
    color: #d7d7d7;
}
.section-content .user-name a{
	display: inline-block;
	width: 100px;
	vertical-align: bottom;
	overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.section-content .user-intro{
	color:#6e6e6e;
}
.user-icon span{
	color: #d7d7d7;
	margin-right: 5px;
}
.user-money a{
	color: #f7c260;
}
a.share_icon{
	width: 20px;
	height: 14px;
	display: inline-block;
}
.share_icon1{
	background: url(../images/share_icon.png);
}
.share_icon2{
	background: url(../images/share_icon.png) -26px 0;
}
.share_icon3{
	background: url(../images/share_icon.png)-48px 0;
}
.share_icon4{
	background: url(../images/share_icon.png)-71px 0;
}
.mb5{
	margin-bottom: 5px;
}
.chart-container{
	min-width: 1135px;
}
.chart-wrap{
	width: 50%;
	float: left;
}


.canvas-chart{
	margin-top: 15px;
	background-color: #fff;
	padding:10px 20px;
	margin-right: 15px;
}
.notice-container{
	min-width: 1135px;
}
.notice-wrap{
	width: 100%;
    float: left;
}
.notice-section{
	margin-top: 15px;
	background-color: #fcfae1;
	margin-right: 15px;
}
.notice-content{
	border-left: 6px;
	border-left-color: #ad7638;
	border-left-style: solid;
	padding-left: 10px;
	font-size: 12px;
}
.notice-content span{
    color: #ad7638;
    background-color: #fcfae1;
}
.footing{
    min-width: 1135px;
}

/*-----------------------------member-manage.html-----------------------*/
